/*==========CONTACT FORM ===================*/
#form{
  height: 400px;
  padding-top: 0.5%;
  display: block;
}
label{
  font-size: 20px;
}
#button{
  padding-left: 75px;
  padding-top: 20px;
}
input.invalid{
  border: 2px solid red;
}
.error-hint{
  color: red;
  margin-left: 20%;
}
#submit{
  padding:3px;
  background: none;
  border: 2px solid #747760;
  border-radius: 10px;
  margin: center;
  transition: all 1s;
  cursor: pointer;
  width: 120px;
  font-size: 20px;
}
#submit:hover{
  background-color: #747760;
  border: #c86a3c;
  color: #FFFBE9;
}

.hidden{
  display: none;
}

.thankYou{
  padding: 40px;
  font-size: 40px;
  text-align: center;
}
/*===========Main==========*/
#header{
  margin-top: 5%;
  background-color: #747760;
  color:#fff;
  font-family: "Brush Script MT, Lato, sans-serif";
  text-align: left;
  border: 5px outset #FFFBE9;
  text-align: right;
  border-radius: 10%;
  padding: 1%;
  
}
.container{
  width:100%;
  text-align:left;
  background-color: #dfedd6;
}
.container #main{
 background-color: #dfedd6;
}
#header img{
  align: left;
  border-radius: 50%;
  width: 130px;
  hight: 130px;
 }
#subHeader p{
  padding-right: 30px;
}
#image-2, #image{
  width:400px;
  height:370px;
  border-radius: 10%;
  margin-right: 2%;
  margin-top: 0.2%;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#links{
  background-color: #dfedd6;
  margin-top: 5%;
  padding-left: 50%;
  padding: 0.5%;
  color:#c86a3c;
  margin: center;
}
.email{
  color:black;
}
#projectLinks h3{
  align: center;
  margin-top: 5%;
  padding: 0.5%;
  color:#c86a3c; 
}
i{
    font-size:30px;
    color:#c86a3c;
    padding: 0.5%;
}


img{
  width:300px;
  hight:400px;
  /*border-radius: 50%;*/
  align:right;
}
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #fff;
  background-color: #dfedd6;
  width: 30%;
  height: 100%;
   margin-top: 0.2%;
 
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
 
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fff;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #747760;
  color:white;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 20px;
  border: 1px solid #fff;
  width: 70%;
  border-left: none;
  height: 100%;
  
  
}
th{
  background-color: #c86a3c;
}
#footer{
  background-color: #747760;
 
  padding: 22px 16px;
  text-align: center;
  border: 5px outset #FFFBE9;
  text-align: center;
  border-radius: 10%;
}
#footer p{
  text-size: 10px;
  padding: 20px;
}
#links{
  animation: mymove 5s infinite;
}
@keyframes mymove {
    from {background-color: #dfedd6}
    to {background-color: #747760;}
  }
#line{
  width: 100%;
  border: 2px solid #747760;
  display: cover;
}
#projectLinks i{
  marign-left: 30%;
  font-size: 70px;
  color:#c86a3c;
  padding-right: 5%;
  passing-top: 5%;
   
}
/*============IMAGE IN THE CARDS============*/
.card-img-top{
  height: 300px;
}
